# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

*.pkg
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/
*.egg-info/
dist/
build/

# Environment & Secrets
.env
.env.*
*.pem
*.key
secrets.json

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# GitHub Actions local testing
act
